/* Navbar */

body{
  font-family:Arial, Helvetica, sans-serif;
}
.navbar{
  padding: 2rem;
  background-color: #61A34A;
}
.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}
.nav-item a{
  color:aliceblue;
  font-size: 1.5rem;
}

.logo{
  color:aliceblue;
  font-family: 'Days One', sans-serif;
}

@font-face {
  font-family: 'Days One';
  src: url('fonts/daysone.woff2') format('woff2'),
       url('fonts/daysone.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.imagen-logo{
  border-radius: 25%;
}
/* Adaptable (Responsivo) */

@media screen and (max-width:1000px) {
  .navbar-brand{
    display: none;
  }
  #container-info{
    min-width: none;
    min-height: none;
  }
}

/* Estilos generales */

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 2.5rem;
}

/*  Sección principal */

.hero{
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

#container-cards{
  text-align: center;
}

.container-servicios{
  min-height: 450px;
}

.info-empresa{
  text-align: center;
}

#container-info{
  min-height: 432px  ;
}

.hero-principal{
  padding: 3rem;
}

.hero-imagen{
  width: 100%;
  height: auto;
}

.linea-separadora {
  margin: 140px 0; /* Espacio antes y después de la línea separadora */
  border: 3px solid #61A34A; /* Estilo del borde y color de la línea */
}

.hero-info{
  text-align:justify ;
}

/*Footer*/

footer {
  min-height: 500px;
}

.text-footer{
  text-decoration: underline;
}
.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}
.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}

#boton-pqrs{
  background-color: #61A34A;
  border: #61A34A;
}

/* Boton de whatsapp*/

.btn-wsp{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
  .btn-wsp{
      width:63px;
      height:63px;
      line-height: 66px;
  }
}
.card {
  transition: transform 0.5s;
  min-height: 300px;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-back {
  display: none;
  transform: rotateY(180deg);
}

.card:hover .card-front {
  display: none;
}

.card:hover .card-back {
  display: block;
}

.container-servicios{
  text-align: center;
  align-items: center;
}